doctype html
head
    title PassWave
    style.
        .table {
            border-collapse: collapse;
            max-width: 600px;
            width: 100%;
        }

        .company {
            padding: 20px;
            font-size: 25px;
            color: #fff;
            background-color: rgb(43,42,41);
        }

        .title {
            font-size: 22px;
            padding: 20px 0;
            color: rgb(28,27,26);
            font-weight: 600;
        }

        .td {
            text-align: center;
        }

        .text {
            font-size: 18px;
            margin-bottom: 10px;
            color: rgba(25, 25, 25, 0.8);
        }

        .link {
            font-size: 20px;
            padding: 7px 20px;
            border-radius: 8px;
            color: #ffffff;
            background-color: rgb(210,58,49);
            font-weight: 600;
            display: inline-block;
            text-decoration: none;
        }
table(style="border-collapse: collapse; width: 100%;")
    tbody
        tr
            td(align="center")
                table(class="table")
                    thead
                        tr
                            th(class="company")
                                h1(style="margin: 0;") PassWave
                        tr
                            th(class="title")
                                h2(style="margin: 0;") Restore password
                    tbody
                        tr
                            td(class="td")
                                p(class="text") Follow the link to recover your password
                        tr
                            td(class="td")
                                a(class="link" href=url target="blank") Go to
